# Compiled Python Files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDE / The cache linked to VS Code
.vscode/
.idea/

# Logs
logs/
*.log

# Uploads
uploads/*
!uploads/.gitkeep
!uploads/images/.gitkeep
!uploads/documents/.gitkeep
!uploads/audio/.gitkeep
!uploads/video/.gitkeep